{% extends "mainpage/base.html" %}
{% load static %}
{% load compress %}

{% block script %}
<script>

function search_within(keyword) {
        var curr_page = 1;
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        if (urlParams.has('page')) {
            curr_page = parseInt(urlParams.get('page'));
        }
        else curr_page = 1;

        var url_to_add = '';
        
        if (urlParams.has('search')) {
            search = urlParams.get('search');
            keyword =search+"+"+keyword;
        }

        url_to_add = url_to_add + "&search=" + keyword;

        if (urlParams.has('type')) {
            type = urlParams.get('type');
            url_to_add = url_to_add + "&type=" + type;
        }
        if (urlParams.has('category')) {
            category = urlParams.get('category');
            url_to_add = url_to_add + "&category=" + category;
        }

        url = ".?page=1" + url_to_add;
        window.location.replace(url);
    };


    $(document).ready(function () {

        $("#create-button").click(function (event) {

            var error_free = true;

            var title = $('#create-form').find('input[name="title"]').val();
            title = $.trim(title);

            var keywords = $('#create-form').find('input[name="keywords"]').val();
            keywords = $.trim(keywords);

            if (title == '') {
                error_free = false;
            }
            if (!error_free) {
                alert('Please enter a title for your dataset to create.')
                event.preventDefault();
            }
            else {
                // alert('No errors: Form will be submitted');
            }
        });

        $("#search-within").keypress(function (event) {
            if (event.keyCode === 13) {
                keyword = $("#search-within").val();
                search_within(keyword);
            }
        });

        $("#search-within-btn").click(function (event) {
            keyword = $("#search-within").val();
            search_within(keyword);
        });

    });

    

</script>
{% endblock %}

{% block header %}
<header class="sticky-top">
    {% include "mainpage/menu_bar.html" %}
</header>
{% endblock %}

{% block content %}
<div class="row ml-0 mr-0">
    {% block sidebar %}
    <nav class="sidebar">
        {% include "mainpage/sidebar.html" %}
    </nav>
    {% endblock %}

    {% block main %}
    <main role="main" class="main"> <!--col-md-9 ml-sm-auto col-lg-10 px-4"-->
        <!-- data set header -->
        <div class="row">
            <div class="col-md-10">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3">
                    <h1 class="h2">Datasets</h1><br>
                </div>

                <div class="justify-content-between flex-wrap flex-md-nowrap align-items-left pb-3">
                    Find and use datasets for scientific discovery. <a href="#">Learn more</a>
                </div>

            </div>
            {% if user and not user.is_anonymous %}
            <div class="col-md-2 mt-3">
                <a class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#fileupload" href="#"><i
                        data-feather="plus"></i> New Dataset </a>
            </div>
            {% endif %}
        </div>

        <!-- head line-->

        <div class="row mb-2">
            <div class="col-md-10">
                <div class="container p-4 position-static rounded">
                    <div class="input-group">
                        <input type="text" name="search" id="search-within" class="form-control" placeholder="Search within the result">
                        <span class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button"
                                id="search-within-btn">Search </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-10">
                {% for dataset in object_list %}
                {% include "mainpage/dataset/ds_item.html" with dataset=dataset %}
                {% empty %}
                    No Datasets yet!
                {% endfor %}
            </div>

        </div>
        <div class="row mb-2">
            <div class="col-md-10">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
            
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </main>


<!--script>
    var curr_page = 1;
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    if (urlParams.has('page')) {
        curr_page = parseInt(urlParams.get('page'));
    }
    else curr_page = 1;

    var url_to_add = '';
    if (urlParams.has('search')) {
        search = urlParams.get('search');
        url_to_add = url_to_add + "&search=" + search;
    }
    if (urlParams.has('type')) {
        type = urlParams.get('type');
        url_to_add = url_to_add + "&type=" + type;
    }
    if (urlParams.has('category')) {
        category = urlParams.get('category');
        url_to_add = url_to_add + "&category=" + category;
    }

    if (curr_page > 1) {
        $('#page-list').append('<li class="page-item"><a class="page-link" href=".?page=' + (curr_page - 1) + url_to_add + '">Previous</a></li>');
    }
    $('#page-list').append('<li class="page-item"><a class="page-link" href=".?page=' + (curr_page + 1) + url_to_add + '">Next</a></li>');

</script>

<!-- Button trigger modal -->
<!-- Modal -->
{% for dataset in datasets %}

<div class="modal fade bd-example-modal-lg" id="quicklook-{{ dataset.id }}" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> {{ dataset.attributes.title }} </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><i data-feather="calendar"></i> <strong>Created:</strong></td>
                            <td>{{ dataset.created }}</td>
                        </tr>
                        <tr>
                            <td><i data-feather="calendar"></i> <strong>Last updated:</strong></td>
                            <td>N/A</td>
                        </tr>
                        <tr>
                            <td><i data-feather="tag"></i> <strong>Keywords:</strong></td>
                            <td>{{ dataset.keywords }}</td>
                        </tr>
                        <tr>
                            <td><i data-feather="users"></i> <strong>Originating Research Organizations:</strong></td>
                            <td>{{ dataset.attributes.institution }}</td>
                        </tr>
                        <tr>
                            <td><i data-feather="mail"></i> <strong>Contact Email:</strong></td>
                            <td>{{ dataset.owner.email }}</td>
                        </tr>
                        <!--tr>
                            <td><i data-feather="link"></i> <strong>DOI:</strong></td>
                            <td>N/A</td>
                        </tr-->
                        <tr>
                            <td><i data-feather="link"></i> <strong>Site URL:</strong></td>
                            <td>{{ dataset.attributes.url }}</td>
                        </tr>
                        <tr>
                            <td><i data-feather="link"></i> <strong>Subject:</strong></td>
                            <td>{{ dataset.category_name }}</td>
                        </tr>
                        <tr>
                            <td><i data-feather="link"></i> <strong>Type:</strong></td>
                            <td>{{ dataset.type_name }}</td>
                        </tr>
                        <tr>
                            <td><i data-feather="hash"></i> <strong>Downloads:</strong></td>
                            <td>13</td>
                        </tr>
                        <tr>
                            <td><i data-feather="hash"></i> <strong>Citations:</strong></td>
                            <td>12</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>

    {% endfor %}

<!-- Modal -->
    {% include "mainpage/index_modal.html" %}

    {% endblock %}
</div>

{% endblock %}