{% extends "mainpage/base.html" %}
{% load static %}
{% load compress %}

{% block script %}
<script>

    $(document).ready(function () {

        $("#create-button").click(function (event) {

            var error_free = true;

            var title = $('#create-form').find('input[name="title"]').val();
            title = $.trim(title);

            var keywords = $('#create-form').find('input[name="keywords"]').val();
            keywords = $.trim(keywords);

            if (title == '') {
                error_free = false;
            }
            if (!error_free) {
                alert('Please enter a title for your dataset to create.')
                event.preventDefault();
            }
            else {
                // alert('No errors: Form will be submitted');
            }
        });

    });

</script>
{% endblock %}

{% block header %}
<header class="sticky-top">
    {% include "mainpage/menu_bar.html" %}
</header>
{% endblock %}

{% block content %}
<div class="row ml-0 mr-0">
    <nav class="sidebar">
        {% include "mainpage/sidebar.html" %}
    </nav>

    <main role="main" class="main"> <!--col-md-9 ml-sm-auto col-lg-10 px-4"-->

        <!-- data set header -->
        <div class="row">
            <div class="col-md-10">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3">
                    <h1 class="h2">Datasets</h1><br>
                </div>

                <div class="justify-content-between flex-wrap flex-md-nowrap align-items-left pb-3">
                    Find and use datasets for scientific discovery. <a href="#">Learn more</a>
                </div>
            </div>
            {% if user and not user.is_anonymous %}
            <div class="col-md-2 mt-3">
                <a class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#fileupload" href="#"><i
                        data-feather="plus"></i> New Dataset </a>
            </div>
            {% endif %}
        </div>

        <!-- head line-->
        <div class="row mb-2">
            <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-left bg-light">
                <div class="col-md-0 p-lg-0 mx-auto my-0">
                    <h1 class="display-4 font-weight-normal">Help us better understand COVID-19</h1>
                    <p class="lead font-weight-normal">There is a large body of research and literature continuously
                        evolving around COVID-19. Help the research community and global organizations better digest
                        this to answer key questions.</p>
                    <a class="btn btn-primary" href="#">Get Started</a>
                </div>
                <div class="product-device shadow-sm d-none d-md-block"></div>
                <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-10">
            <ul class="flex-container">
                {% if datasets %}
                {% for dataset in datasets %}
                {% include "mainpage/dataset/ds_item.html" with dataset=dataset %}
                {% endfor %}
                {% endif %}
            </ul>
            </div>

            <!-- side bar (right) -->
        </div>
    </main>
</div>

<!-- Button trigger modal -->

<!-- Modal -->
{% for dataset in datasets %}

<div class="modal fade bd-example-modal-lg" id="quicklook-{{ dataset.id }}" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> {{ dataset.attributes.title }} </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><i data-feather="calendar"></i> <strong>Created:</strong></td>
                            <td>{{ dataset.created }}</td>
                        </tr>
                        <tr>
                            <td><i data-feather="calendar"></i> <strong>Last updated:</strong></td>
                            <td>N/A</td>
                        </tr>
                        <tr>
                            <td><i data-feather="tag"></i> <strong>Keywords:</strong></td>
                            <td>{{ dataset.keywords }}</td>
                        </tr>
                        <tr>
                            <td><i data-feather="users"></i> <strong>Originating Research Organizations:</strong></td>
                            <td>{{ dataset.attributes.institution }}</td>
                        </tr>
                        <tr>
                            <td><i data-feather="mail"></i> <strong>Contact Email:</strong></td>
                            <td>{{ dataset.owner.email }}</td>
                        </tr>
                        <!--tr>
                            <td><i data-feather="link"></i> <strong>DOI:</strong></td>
                            <td>N/A</td>
                        </tr-->
                        <tr>
                            <td><i data-feather="link"></i> <strong>Site URL:</strong></td>
                            <td>{{ dataset.attributes.url }}</td>
                        </tr>
                        <tr>
                            <td><i data-feather="link"></i> <strong>Subject:</strong></td>
                            <td>{{ dataset.category_name }}</td>
                        </tr>
                        <tr>
                            <td><i data-feather="link"></i> <strong>Type:</strong></td>
                            <td>{{ dataset.type_name }}</td>
                        </tr>
                        <tr>
                            <td><i data-feather="hash"></i> <strong>Downloads:</strong></td>
                            <td>13</td>
                        </tr>
                        <tr>
                            <td><i data-feather="hash"></i> <strong>Citations:</strong></td>
                            <td>12</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endfor %}

<!-- Modal -->
{% include "mainpage/index_modal.html" %}

{% endblock %}