{% extends "mainpage/base.html" %}
{% block content %}
{% load static %}
{% load compress %}

<script>

    $(document).ready(function () {

        $("#create-button").click(function (event) {

            var error_free = true;

            var title = $('#create-form').find('input[name="sysdataset-title"]').val();
            title = $.trim(title);

            var keywords = $('#create-form').find('input[name="sysdataset-keywords"]').val();
            keywords = $.trim(keywords);

            if (title == '') {
                error_free = false;
            }
            if (!error_free) {
                alert('Please enter a title for your dataset to create.')
                event.preventDefault();
            }
            else {
                // alert('No errors: Form will be submitted');
            }
        });

    });

</script>

<header>
    {% include "mainpage/menu_bar.html" %}
</header>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            {% include "mainpage/sidebar.html" %}
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

            <!-- data set header -->
            <div class="row">
                <div class="col-md-10">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3">
                        <h1 class="h2">Datasets</h1><br>
                    </div>

                    <div class="justify-content-between flex-wrap flex-md-nowrap align-items-left pb-3">
                        Find and use datasets for scientific discovery. <a href="#">Learn more</a>
                    </div>
                </div>
                {% if user and not user.is_anonymous %}
                <div class="col-md-2 mt-3">
                    <a class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#fileupload" href="#"><i
                            data-feather="plus"></i> New Dataset </a>
                </div>
                {% endif %}
            </div>

            <!-- head line-->
            <div class="row mb-2">
                <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-left bg-light">
                    <div class="col-md-0 p-lg-0 mx-auto my-0">
                        <h1 class="display-4 font-weight-normal">Help us better understand COVID-19</h1>
                        <p class="lead font-weight-normal">There is a large body of research and literature continuously
                            evolving around COVID-19. Help the research community and global organizations better digest
                            this to answer key questions.</p>
                        <a class="btn btn-primary" href="#">Get Started</a>
                    </div>
                    <div class="product-device shadow-sm d-none d-md-block"></div>
                    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
                </div>
            </div>

            <div class="row">
                    <ul>
                        {% if latest_dataset_list %}
                            {% for dataset in latest_dataset_list %}
                                {% include "mainpage/dataset/ds_item.html" with dataset=dataset %}
                            {% endfor %}
                        {% endif %}
                    </ul>

                <!-- side bar (right) -->
            </div>
        </main>
    </div>
</div>



<!-- Button trigger modal -->

<!-- Modal -->
{% for dataset in latest_dataset_list %}

<div class="modal fade bd-example-modal-lg" id="quicklook-{{ dataset.id }}" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> {{ dataset.attributes.title }} </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><i data-feather="calendar"></i> <strong>Created:</strong></td>
                            <td>{{ dataset.created }}</td>
                        </tr>
                        <tr>
                            <td><i data-feather="calendar"></i> <strong>Last updated:</strong></td>
                            <td>N/A</td>
                        </tr>
                        <tr>
                            <td><i data-feather="tag"></i> <strong>Keywords:</strong></td>
                            <td>{{ dataset.keywords }}</td>
                        </tr>
                        <tr>
                            <td><i data-feather="users"></i> <strong>Originating Research Organizations:</strong></td>
                            <td>{{ dataset.attributes.institution }}</td>
                        </tr>
                        <tr>
                            <td><i data-feather="mail"></i> <strong>Contact Email:</strong></td>
                            <td>{{ dataset.owner.email }}</td>
                        </tr>
                        <!--tr>
                            <td><i data-feather="link"></i> <strong>DOI:</strong></td>
                            <td>N/A</td>
                        </tr-->
                        <tr>
                            <td><i data-feather="link"></i> <strong>Site URL:</strong></td>
                            <td>{{ dataset.attributes.url }}</td>
                        </tr>
                        <tr>
                            <td><i data-feather="hash"></i> <strong>Downloads:</strong></td>
                            <td>13</td>
                        </tr>
                        <tr>
                            <td><i data-feather="hash"></i> <strong>Citations:</strong></td>
                            <td>12</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endfor %}



<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="fileupload" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Dataset Creation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/dataset/" id="create-form" method="post">

                <input type="hidden" id="request-type" name="request-type" value="create">
                {% csrf_token %}

                <div class="modal-body">

                    <div class="form-group">

                        <div class="card mb-1">
                            <div class="card-body">
                                <h5 class="card-title mb-2">Basic Information </h5>
                                <div class="row mb-1">
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control mb-1" id="sysdataset-title"
                                            name="sysdataset-title" placeholder="Enter Dataset Title">
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control form-control-sm mb-1"
                                            id="sysdataset-subtitle" name="sysdataset-subtitle"
                                            placeholder="Enter Dataset Subtitle">
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-sm-12">
                                        <textarea class="form-control form-control-sm mb-1" id="sysdataset-description"
                                            name="sysdataset-description"
                                            placeholder="Please add your description for this dataset."
                                            rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-12">
                                        <div id="sysdataset-keywords">
                                            <input type="text" class="form-control form-control-sm"
                                                id="sysdataset-keywords" name="sysdataset-keywords"
                                                placeholder="Enter keywords separated by commas (e.g., 'climate, simulation, forecasting' ) ">
                                        </div>
                                    </div>
                                </div>

                                <h5 class="card-title mb-2">Type and Subject</h5>
                                <div class="row">
                                    <label for="data-type" class="col-sm-2 col-form-label">Type</label>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="sysdataset-type" name="sysdataset-type">
                                            <option value="" selected disabled>Nothing Selected</option>
                                            <option value="AS">Animations/Simulations</option>
                                            <option value="GD">Genome/Genetic Data</option>
                                            <option value="IM">Interactive Data Map</option>
                                            <option value="ND">Numeric Data</option>
                                            <option value="IP">Still Images/Photos</option>
                                            <option value="FP">Figures/Plots</option>
                                            <option value="SM">Specialized Mix</option>
                                            <option value="MM">Multimedia</option>
                                            <option value="ZZ">General (Other)</option>
                                        </select>
                                    </div>

                                    <label for="data-subject" class="col-sm-2 col-form-label">Subject</label>
                                    <div class="col-sm-4">
                                        <select class="form-control selectpicker" multiple data-live-search="true"
                                            id="sysdataset-subjects" name="sysdataset-subjects">
                                            <option value="" selected disabled>Select all that apply</option>
                                            <option value="01">COAL, LIGNITE, AND PEAT</option>
                                            <option value="02">PETROLEUM</option>
                                            <option value="03">NATURAL GAS</option>
                                            <option value="04">OIL SHALES AND TAR SANDS</option>
                                            <option value="07">ISOTOPE AND RADIATION SOURCES</option>
                                            <option value="08">HYDROGEN</option>
                                            <option value="09">BIOMASS FUELS</option>
                                            <option value="10">SYNTHETIC FUELS</option>
                                            <option value="11">NUCLEAR FUEL CYCLE AND FUEL MATERIALS</option>
                                            <option value="12">MANAGEMENT OF RADIOACTIVE AND NON-RADIOACTIVE WASTES FROM
                                                NUCLEAR FACILITIES</option>
                                            <option value="13">HYDRO ENERGY</option>
                                            <option value="14">SOLAR ENERGY</option>
                                            <option value="15">GEOTHERMAL ENERGY</option>
                                            <option value="16">TIDAL AND WAVE POWER</option>
                                            <option value="17">WIND ENERGY</option>
                                            <option value="20">FOSSIL-FUELED POWER PLANTS</option>
                                            <option value="21">SPECIFIC NUCLEAR REACTORS AND ASSOCIATED PLANTS</option>
                                            <option value="22">GENERAL STUDIES OF NUCLEAR REACTORS</option>
                                            <option value="24">POWER TRANSMISSION AND DISTRIBUTION</option>
                                            <option value="25">ENERGY STORAGE</option>
                                            <option value="29">ENERGY PLANNING, POLICY, AND ECONOMY</option>
                                            <option value="30">DIRECT ENERGY CONVERSION</option>
                                            <option value="32">ENERGY CONSERVATION, CONSUMPTION, AND UTILIZATION
                                            </option>
                                            <option value="33">ADVANCED PROPULSION SYSTEMS</option>
                                            <option value="36">MATERIALS SCIENCE</option>
                                            <option value="37">INORGANIC, ORGANIC, PHYSICAL, AND ANALYTICAL CHEMISTRY
                                            </option>
                                            <option value="38">RADIATION CHEMISTRY, RADIOCHEMISTRY, AND NUCLEAR
                                                CHEMISTRY</option>
                                            <option value="42">ENGINEERING</option>
                                            <option value="43">PARTICLE ACCELERATORS</option>
                                            <option value="45">MILITARY TECHNOLOGY, WEAPONRY, AND NATIONAL DEFENSE
                                            </option>
                                            <option value="46">INSTRUMENTATION RELATED TO NUCLEAR SCIENCE AND TECHNOLOGY
                                            </option>
                                            <option value="47">OTHER INSTRUMENTATION</option>
                                            <option value="54">ENVIRONMENTAL SCIENCES</option>
                                            <option value="58">GEOSCIENCES</option>
                                            <option value="59">BASIC BIOLOGICAL SCIENCES</option>
                                            <option value="60">APPLIED LIFE SCIENCES</option>
                                            <option value="61">RADIATION PROTECTION AND DOSIMETRY</option>
                                            <option value="62">RADIOLOGY AND NUCLEAR MEDICINE</option>
                                            <option value="63">RADIATION, THERMAL, AND OTHER ENVIRON. POLLUTANT EFFECTS
                                                ON LIVING ORGS. AND BIOL. MAT.</option>
                                            <option value="70">PLASMA PHYSICS AND FUSION TECHNOLOGY</option>
                                            <option value="71">CLASSICAL AND QUANTUM MECHANICS, GENERAL PHYSICS</option>
                                            <option value="72">PHYSICS OF ELEMENTARY PARTICLES AND FIELDS</option>
                                            <option value="73">NUCLEAR PHYSICS AND RADIATION PHYSICS</option>
                                            <option value="74">ATOMIC AND MOLECULAR PHYSICS</option>
                                            <option value="75">CONDENSED MATTER PHYSICS, SUPERCONDUCTIVITY AND
                                                SUPERFLUIDITY</option>
                                            <option value="77">NANOSCIENCE AND NANOTECHNOLOGY</option>
                                            <option value="79">ASTRONOMY AND ASTROPHYSICS</option>
                                            <option value="96">KNOWLEDGE MANAGEMENT AND PRESERVATION</option>
                                            <option value="97">MATHEMATICS AND COMPUTING</option>
                                            <option value="98">NUCLEAR DISARMAMENT, SAFEGUARDS, AND PHYSICAL PROTECTION
                                            </option>
                                            <option value="99">GENERAL AND MISCELLANEOUS</option>
                                        </select>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="card mb-1">
                        <div class="card-body">
                            <h5 class="card-title mb-1">Select Files and Upload</h5>
                            <div class="text-muted mb-3">Consider zipping large directories to speed up your uploads <a
                                    href="#">Learn more</a></div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4 align-middle">
                                        <input type="file" class="form-control-file mb-2" id="exampleFormControlFile1"
                                            multiple data-show-upload="true" data-show-caption="true">
                                    </div>
                                    <div class="col-md-2 align-middle">
                                        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal"><i
                                                data-feather="upload-cloud"></i> Upload</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Uploaded Files</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-muted"> <i data-feather="file"></i> iris.csv (140.32 MB)
                                </li>
                                <li class="list-group-item text-muted"> <i data-feather="file"></i> BostonHousing.csv
                                    (12.51 MB) </li>
                                <li class="list-group-item text-muted"> <i data-feather="file"></i> mockup.zip (132.51
                                    MB) </li>
                            </ul>

                        </div>

                    </div>


                    <div class="modal-footer">
                        <button type="submit" id="create-button" class="btn btn-primary">Create</button>
                    </div>

            </form>
        </div>
    </div>
</div>

</div>

</div>

{% endblock %}