<div class="col-md-3">
    <ul class="list-group">
        <li class="list-group-item list-group-item-dark">
            <h5 class="list-group-item-heading ">Discussions</h5>
        </li>
    </ul>

    <ul class="list-group">

        <li class="list-group-item">
            <b>How to upload large-sized data?</b><br>
            31 comments
        </li>
        <li class="list-group-item">
            <b>How to find your pontential collaborators using the portal</b><br>
            10 comments
        </li>
        <li class="list-group-item">
            <a class="btn btn-outline-secondary btn-sm" href="#"><i data-feather="plus"></i> New
                Discussion </a>
        </li>

    </ul>
    <br>
    <ul class="list-group">
        <li class="list-group-item list-group-item-dark">
            <h5 class="list-group-item-heading">Open Tasks</h5>
        </li>
    </ul>

    <ul class="list-group">
        <li class="list-group-item">
            <b>COVID-19 Open Research Dataset Challenge (CORD-19): Predict the trend </b><br>
            6 submissions
        </li>
    </ul>
</div>