{% extends "mainpage/base.html" %}
{% load static %}
{% load compress %}
{% load fontawesome_5 %}


{% block script %}
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://www.jasondavies.com/wordcloud/cloud.min.js"></script>
{% endblock %}

{% block header %}
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <div class="logo"></div>
    <h5 class="my-0 mr-md-auto font-weight-normal"></h5>
    <nav class="my-2 my-md-0 mr-md-3">
    </nav>

    {% if user and not user.is_anonymous %}
    <a href="{% url 'logout' %}?next={{ request.path }}" class="btn btn-outline-primary">Logout</a>
    {% else %}
    <a href="{% url 'social:begin' 'globus' %}?next={{ request.path }}" class="btn btn-outline-primary">Login with
        Globus</a>
    {% endif %}

</div>
{% endblock %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Welcome to the Scalable Data Infrastructure for Science</h1>
    <p class="lead">Upload, publish, share your scientific data and collaborate with others!</p>
</div>

<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4  border-0">
            <div class="row mb-4">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <form action="/search/" method="POST">
                        {% csrf_token %}
                        <div class="search">
                            <div class="input-group">
                                <input class="form-control" type="search" name="search" placeholder="Search"
                                    aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">Search</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-1"></div>
            </div>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <div id="my_dataviz"></div>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 ">
            <div class="card-body">
                <div class="menu">
                    <div class="row">
                        <div class="col-lg-4">
                            <h2>Dataset</h2>
                            <p>Explore datasets uploaded by you and other scientists.</p>
                            <p><a class="btn btn-primary" href="search" role="button">View details &raquo;</a></p>
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <h2>News</h2>
                            <p>Learn what is happening around the scalable data infrastructure for science.</p>
                            <p><a class="btn btn-primary" href="news" role="button">View details &raquo;</a></p>
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <h2>Discuss</h2>
                            <p>Discuss your research topics and share your knowledge with others.</p>
                            <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
                        </div><!-- /.col-lg-4 -->
                    </div><!-- /.row -->

                </div>

            </div>

        </div>

    </div>


    <script>

        var paragraph = "ORNL boasts state-of-the-art capabilities across a wide range of scientific and engineering disciplines, including materials science and engineering, computer and computational science, neutron scattering, neutron science and technology, biological and environmental research, nuclear physics and engineering, nuclear energy technologies, fusion science and technology, and energy efficiency and renewable energy (building technologies, advanced manufacturing, transportation technologies";
        var layout = d3.layout.cloud()
            .size([800, 600])
            .words(paragraph.replace(/[!\.,:;\?]/g, '')
                .split(' ').map(function (d) {
                    return { text: d, size: 10 + Math.random() * 90, test: "haha" };
                }))
            .padding(5)
            .rotate(function () { return ~~(Math.random() * 2) * 90; })
            .font("Impact")
            .fontSize(function (d) { return d.size; })
            .on("end", draw);

        layout.start();

        function draw(words) {
            d3.select("#my_dataviz").append("svg")
                .attr("width", layout.size()[0])
                .attr("height", layout.size()[1])
                .append("g")
                .attr("transform", "translate(" + layout.size()[0] / 2 + "," + layout.size()[1] / 2 + ")")
                .selectAll("text")
                .data(words)
                .enter().append("text")
                .style("font-size", function (d) { return d.size + "px"; })
                .style("font-family", "Impact")
                .attr("text-anchor", "middle")
                .style("fill", function (d, i) { return fill(i); })
                .attr("transform", function (d) {
                    return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                })
                .text(function (d) { return d.text; })
                .text(function (d) { return d.text; }).on("click", function (d) {
                    alert('Initiating search with keyword = ' + d.text);
                });
        }

    </script>
    {% endblock %}