{% extends "mainpage/base.html" %}
{% block content %}
{% load static %}


<script>

    $(document).ready(function () {

        $("#delete-sure-button").click(function (event) {

            var error_free = true;

            var delete_check = $('#delete-form').find('input[name="sysdataset-delete-check"]').val();
            delete_check = $.trim(delete_check);

            if(delete_check!='{{dataset.attributes.title}}'){
                error_free = false;
            }

            if (!error_free) {
                alert('You did not enter the exact title. Do you still want to delete?')
                event.preventDefault();
            }
            else {
                // alert('No errors: Form will be submitted');
            }
        });

    });

</script>


<h1>{{ dataset.id }}</h1>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

    <!-- data set header -->
    <div class="row">
        <div class="col-md-10">
            <div class="mt-3"><strong class="d-inline-block mb-2 text-primary"><i data-feather="database"></i>
                    Dataset</strong></div>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
                        <h1 class="h2">{{ dataset.attributes.title }}</h1><br>
                    </div>
                    <div class="row">

                        <div class="col-md-10">


                            <div class="justify-content-between flex-wrap flex-md-nowrap align-items-left pb-3">
                                {{ dataset.attributes.subtitle }}
                            </div>
                            <div class="mb-1 text-muted"><i data-feather="user"></i>
                                {{ dataset.attributes.institution }} <i data-feather="link"></i> {{ dataset.attributes.url }} </div>
                            <div class="mb-1 text-muted"><i data-feather="calendar"></i> created at {{ dataset.created }} <i
                                    data-feather="database"></i> {{ dataset.sizemb }} MB <i data-feather="file"></i>
                                {{ dataset.filecount }} Files
                                (JSON, CSV, Other)</div>
                            <div class="mb-3 text-muted"><i data-feather="tag"></i>
                                {{ dataset.keywords }}</div>

                        </div>
                        <div class="col-md-2 align-items-center"><img height="100" width="100"
                                src="{% static dataset.icon %}"></div>
                    </div>
                    <div class="row pl-3">
                        <div class="pr-2">
                            <button type="button" class="btn btn-primary btn-sm"><i data-feather="download"></i> Download</button>
                        </div>
                        <div>
                            <a href = "/update/{{ dataset.id }}"><button type="button" class="btn btn-primary  btn-sm"><i data-feather="edit-2"></i> Update</button></a>
                            <button id="dataset-delete-btn" type="button" data-toggle="modal"
                            data-target="#dataset-delete" class="btn btn-primary  btn-sm"><i data-feather="trash"></i> Delete</button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header">
                    <b>Description</b>
                </div>
                <div class="card-body">{{ dataset.attributes.description }}</div>

            </div>

            <div class="card mb-3">
                <div class="card-header">
                    <b>Description</b>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><i data-feather="calendar"></i> <strong>Created:</strong></td>
                                <td>{{ dataset.created }}</td>
                            </tr>
                            <tr>
                                <td><i data-feather="calendar"></i> <strong>Last updated:</strong></td>
                                <td>{{ dataset.updated }}</td>
                            </tr>
                            <tr>
                                <td><i data-feather="tag"></i> <strong>Keywords:</strong></td>
                                <td>{{ dataset.keywords }}</td>
                            </tr>
                            <tr>
                                <td><i data-feather="users"></i> <strong>Originating Research Organizations:</strong>
                                </td>
                                <td>{{ dataset.attributes.institution }}</td>
                            </tr>
                            <tr>
                                <td><i data-feather="mail"></i> <strong>Contact Email:</strong></td>
                                <td>{{ dataset.owner.email }}</td>
                            </tr>
                            <!--tr>
                                <td><i data-feather="link"></i> <strong>DOI:</strong></td>
                                <td>N/A</td>
                            </tr-->
                            <tr>
                                <td><i data-feather="link"></i> <strong>Site URL:</strong></td>
                                <td>{{ dataset.attributes.url }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="card mb-3">
                <div class="card-header">
                    <b>Metrics</b>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><i data-feather="hash"></i> <strong>Downloads:</strong></td>
                                <td>13</td>
                            </tr>
                            <tr>
                                <td><i data-feather="hash"></i> <strong>Citations:</strong></td>
                                <td>12</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>

    <!-- head line-->

    <div class="row">
        <div class="col-md-9">

            <!-- contents -->

        </div>

        <!-- side bar (right) -->
        <div class="col-md-3">
            <!-- nothing -->
        </div>

    </div>

    </div>
    </div>
</main>

<div class="modal fade bd-example-modal-lg" id="dataset-delete" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Are you absolutely sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form action="/delete/{{ dataset.id }}/" id="delete-form" method="post">
                {% csrf_token %}
            <div class="modal-body">
                <div class="card  mb-2">
                        <div class="card-body">
                            This action cannot be <b>undone</b>. This will permanently delete the <b>'{{dataset.attributes.title}}'</b> dataset.<br> Please type <b>'{{dataset.attributes.title}}'</b> to confirm.
                        </div>
                        </div>

                    <input type="text" class="form-control form-control-sm mb-1" id="sysdataset-delete-check"
                            name="sysdataset-delete-check" placeholder="Enter '{{dataset.attributes.title}}' if you're absolutely sure.">

            </div>
            <div class="modal-footer">
                <button type="submit" id="delete-sure-button" class="btn btn-primary">I am sure!</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </form>
        </div>
    </div>
</div>

{% endblock %}
