{% extends "mainpage/base.html" %}
{% block content %}
{% load static %}

<script>

    $(document).ready(function () {

        $("#create-button").click(function (event) {

            var error_free = true;
            var title = $('#create-form').find('input[name="sysdataset-title"]').val();
            title = $.trim(title);

            var keywords = $('#create-form').find('input[name="sysdataset-keywords"]').val();
            keywords = $.trim(keywords);

            if(title==''){
                error_free = false;
            }
            if (!error_free) {
                alert('Please enter a title for your dataset to create.')
                event.preventDefault();
            }
            else {
                // alert('No errors: Form will be submitted');
            }
        });

    });

</script>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

    <!-- data set header -->
    <div class="row">
        <div class="col-md-10">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3">
                <h1 class="h2">Datasets</h1><br>
            </div>

            <div class="justify-content-between flex-wrap flex-md-nowrap align-items-left pb-3">
                Find and use datasets for scientific discovery. <a href="#">Learn more</a>
            </div>
        </div>

        <div class="col-md-2 mt-3">
            <a class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#fileupload" href="#"><i
                    data-feather="plus"></i> New Dataset </a>
        </div>
    </div>

    <!-- head line-->
    <div class="row mb-2">
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-left bg-light">
            <div class="col-md-0 p-lg-0 mx-auto my-0">
                <h1 class="display-4 font-weight-normal">Help us better understand COVID-19</h1>
                <p class="lead font-weight-normal">There is a large body of research and literature continuously
                    evolving around COVID-19. Help the research community and global organizations better digest
                    this to answer key questions.</p>
                <a class="btn btn-primary" href="#">Get Started</a>
            </div>
            <div class="product-device shadow-sm d-none d-md-block"></div>
            <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">

            <!-- item 1 -->

            {% for dataset in latest_dataset_list %}

            <div class="row mb-2">
                <div class="col-md-12">
                    <div
                        class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary"><i data-feather="database"></i>
                                Dataset</strong>
                            <h3 class="mb-3">{{ dataset.attributes.title }}</h3>

                            <div class="row">
                                <div class="col-md-2 align-items-center"><img height="100" width="100"
                                        src="{% static dataset.icon %}"></div>
                                <div class="col-md-10">
                                    <div class="mb-1">{{ dataset.attributes.title }}
                                    </div>
                                    <div class="mb-1 text-muted"><i data-feather="user"></i>
                                        {{ dataset.owner.displayname }} <i data-feather="link"></i>
                                        {{ dataset.attributes.url }} </div>
                                    <div class="mb-1 text-muted"><i data-feather="calendar"></i> created:
                                        {{ dataset.created }} <i data-feather="database"></i>
                                        {{ dataset.sizemb }} MB <i data-feather="file"></i>
                                        {{ dataset.filecount}} Files
                                        (JSON, CSV, Other)</div>
                                    <div class="mb-3 text-muted"><i data-feather="tag"></i> {{ dataset.keywords }}
                                    </div>

                                    <a href="/{{ dataset.id }}"><button type="button" class="btn btn-primary btn-sm"><i
                                                data-feather="book-open"></i>
                                            Open</button></a>

                                    <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal"
                                        data-target="#quicklook-{{ dataset.id }}"><i data-feather="eye"></i>
                                        Quick Look</button>


                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            {% endfor %}

            <!-- end of items -->

        </div>

        <!-- side bar (right) -->
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item list-group-item-dark">
                    <h5 class="list-group-item-heading ">Discussions</h5>
                </li>
            </ul>

            <ul class="list-group">

                <li class="list-group-item">
                    <b>How to upload large-sized data?</b><br>
                    31 comments
                </li>
                <li class="list-group-item">
                    <b>How to find your pontential collaborators using the portal</b><br>
                    10 comments
                </li>
                <li class="list-group-item">
                    <a class="btn btn-outline-secondary btn-sm" href="#"><i data-feather="plus"></i> New
                        Discussion </a>
                </li>

            </ul>
            <br>
            <ul class="list-group">
                <li class="list-group-item list-group-item-dark">
                    <h5 class="list-group-item-heading">Open Tasks</h5>
                </li>
            </ul>

            <ul class="list-group">
                <li class="list-group-item">
                    <b>COVID-19 Open Research Dataset Challenge (CORD-19): Predict the trend </b><br>
                    6 submissions
                </li>
            </ul>
        </div>

    </div>

    </div>
    </div>
</main>



<!-- Button trigger modal -->

<!-- Modal -->
{% for dataset in latest_dataset_list %}

<div class="modal fade bd-example-modal-lg" id="quicklook-{{ dataset.id }}" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> {{ dataset.attributes.title }} </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><i data-feather="calendar"></i> <strong>Created:</strong></td>
                            <td>{{ dataset.created }}</td>
                        </tr>
                        <tr>
                            <td><i data-feather="calendar"></i> <strong>Last updated:</strong></td>
                            <td>N/A</td>
                        </tr>
                        <tr>
                            <td><i data-feather="tag"></i> <strong>Keywords:</strong></td>
                            <td>{{ dataset.keywords }}</td>
                        </tr>
                        <tr>
                            <td><i data-feather="users"></i> <strong>Originating Research Organizations:</strong></td>
                            <td>{{ dataset.attributes.institution }}</td>
                        </tr>
                        <tr>
                            <td><i data-feather="mail"></i> <strong>Contact Email:</strong></td>
                            <td>{{ dataset.owner.email }}</td>
                        </tr>
                        <!--tr>
                            <td><i data-feather="link"></i> <strong>DOI:</strong></td>
                            <td>N/A</td>
                        </tr-->
                        <tr>
                            <td><i data-feather="link"></i> <strong>Site URL:</strong></td>
                            <td>{{ dataset.attributes.url }}</td>
                        </tr>
                        <tr>
                            <td><i data-feather="hash"></i> <strong>Downloads:</strong></td>
                            <td>13</td>
                        </tr>
                        <tr>
                            <td><i data-feather="hash"></i> <strong>Citations:</strong></td>
                            <td>12</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endfor %}



<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="fileupload" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Dataset Creation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/create/" id="create-form" method="post">
                {% csrf_token %}
                <div class="modal-body">

                    <div class="form-group">

                        <input type="text" class="form-control mb-1" id="sysdataset-title" name="sysdataset-title"
                            placeholder="Enter Dataset Title">
                        <input type="text" class="form-control form-control-sm mb-1" id="sysdataset-subtitle"
                            name="sysdataset-subtitle" placeholder="Enter Dataset Subtitle">
                        <textarea class="form-control form-control-sm mb-1" id="sysdataset-description"
                            name="sysdataset-description" placeholder="Please add your description for this dataset."
                            rows="5"></textarea>

                        <div id="sysdataset-keywords">
                            <input type="text" class="form-control form-control-sm mb-2" id="sysdataset-keywords"
                                name="sysdataset-keywords" placeholder="Enter keywords separated by commas (e.g., 'climate, simulation, forecasting' ) ">

                        </div>

                    </div>
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title mb-1">Select Files and Upload</h5>
                            <div class="text-muted mb-3">Consider zipping large directories to speed up your uploads <a
                                    href="#">Learn more</a></div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4 align-middle">
                                        <input type="file" class="form-control-file mb-2" id="exampleFormControlFile1"
                                            multiple data-show-upload="true" data-show-caption="true">
                                    </div>
                                    <div class="col-md-2 align-middle">
                                        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal"><i
                                                data-feather="upload-cloud"></i> Upload</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Uploaded Files</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-muted"> <i data-feather="file"></i> iris.csv (140.32 MB)
                                </li>
                                <li class="list-group-item text-muted"> <i data-feather="file"></i> BostonHousing.csv
                                    (12.51 MB) </li>
                                <li class="list-group-item text-muted"> <i data-feather="file"></i> mockup.zip (132.51
                                    MB) </li>
                            </ul>

                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" id="create-button" class="btn btn-primary">Create</button>
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock %}
